<%= form_for(@comment, url: contribution_comment_path) do |f| %>
  <%= f.hidden_field :contribution_id %>
  <div class="field">
    <%= f.text_field :content, placeholder: "内容", class: "form-control"  %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
