<div class="container">
  <h2>ユーザー一覧</h2>
  <% @users.each do |user| %>
    <div class="container-child col-md-2 col-sm-4 col-xs-6 ">
      <%= profile_img(user) %>
      <%= link_to user.name, user %>
      <% if user.id != current_user.id %>
        <%= render partial: 'follow_form', locals: { user: user } if signed_in?   %>
      <% end %>
    </div>
    <BR>
  <% end %>
</div>